* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  background-size: cover;
}

.total .back-letters {
  color: burlywood;
  margin: 0.5rem;
  font-weight: 600;
}

.total .div-letters-header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  width: 95%;
  padding: 0;
  height: 100%;
  font-family: cursive;
  -webkit-animation: animation-headbands-heading 300ms ease-out 1 forwards;
          animation: animation-headbands-heading 300ms ease-out 1 forwards;
}

@-webkit-keyframes animation-headbands-heading {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes animation-headbands-heading {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.total .div-letters-header-top .letters-header-top {
  width: 100%;
  position: relative;
  font-size: xx-large;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: black;
  padding: 3px;
  margin: 5px auto;
  color: white;
  text-align: center;
  border-radius: 30px 30px 0 0;
}

.total .div-letters-header-top .letters-header-top:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  background: linear-gradient(45deg, green, orange, red, blue, green, orange, red, blue);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-size: 400%;
  border-radius: 30px 30px 0 0;
  animation: headbands-heading 20s linear infinite alternate-reverse;
}

@-webkit-keyframes headbands-heading {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes headbands-heading {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.total .nav-top {
  border: dotted 2px red;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0 0 20px 20px;
  -webkit-animation: animation-nav-top 500ms ease-out 1 forwards;
          animation: animation-nav-top 500ms ease-out 1 forwards;
}

@-webkit-keyframes animation-nav-top {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 100%;
  }
}

@keyframes animation-nav-top {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 100%;
  }
}

.total .nav-top .main-nav-top-bar {
  padding: 0.3rem;
}

.total .nav-top .main-nav-top-bar .a-tag-from-main-nav-top-bar {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.796);
  text-decoration: none;
  -webkit-animation: animation-nav-top-items 700ms ease-out 1 forwards;
          animation: animation-nav-top-items 700ms ease-out 1 forwards;
}

@-webkit-keyframes animation-nav-top-items {
  0% {
    opacity: 0;
    -webkit-transform: translate(-700px, -300px);
            transform: translate(-700px, -300px);
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes animation-nav-top-items {
  0% {
    opacity: 0;
    -webkit-transform: translate(-700px, -300px);
            transform: translate(-700px, -300px);
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.total .nav-top .main-nav-top-bar .a-tag-from-main-nav-top-bar:hover {
  padding: 0.2rem;
  font-size: 1rem;
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.796);
  text-decoration: underline;
  background: rgba(255, 255, 0, 0.568);
}

.total .button-for-displaying-prices-top {
  margin: 0.5rem auto;
  text-align: center;
  color: red;
  -webkit-box-shadow: 0px 0px 20px red;
          box-shadow: 0px 0px 20px red;
  background: transparent;
  -webkit-filter: blur(100%);
          filter: blur(100%);
  padding: 0.2rem;
  font-family: cursive;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: animation-main-div1 800ms ease-out 1 forwards;
          animation: animation-main-div1 800ms ease-out 1 forwards;
}

@-webkit-keyframes animation-main-div1 {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes animation-main-div1 {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.total .hidden-display-prices {
  display: none;
}

.total .hidden-display-prices.open1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto;
  background: linear-gradient(45deg, rgba(255, 0, 0, 0.493), rgba(255, 68, 0, 0.411), rgba(255, 0, 0, 0.685));
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 30px;
  margin: 0 auto;
  -webkit-animation: animation-Button-display-prices1 1s ease-out 1 forwards;
          animation: animation-Button-display-prices1 1s ease-out 1 forwards;
}

@-webkit-keyframes animation-Button-display-prices1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-700px, -400px);
            transform: translate(-700px, -400px);
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes animation-Button-display-prices1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-700px, -400px);
            transform: translate(-700px, -400px);
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.total .hidden-display-prices.open1 .hidden-price-paragraph {
  color: white;
  font-size: large;
  margin: 0 auto;
}

.total .hidden-display-prices.open2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto;
  background: linear-gradient(45deg, rgba(255, 0, 0, 0.493), rgba(255, 68, 0, 0.411), rgba(255, 0, 0, 0.685));
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 30px;
  margin: 0 auto;
  -webkit-animation: animation-Button-display-prices2 1s ease-out 1 forwards;
          animation: animation-Button-display-prices2 1s ease-out 1 forwards;
}

@-webkit-keyframes animation-Button-display-prices2 {
  0% {
    opacity: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    display: grid;
  }
  90% {
    opacity: 50%;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
    display: none;
    position: absolute;
  }
}

@keyframes animation-Button-display-prices2 {
  0% {
    opacity: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    display: -ms-grid;
    display: grid;
  }
  90% {
    opacity: 50%;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
    display: none;
    position: absolute;
  }
}

.total .hidden-display-prices.open2 .hidden-price-paragraph {
  color: red;
}

.total #div1 {
  margin: 1rem auto;
  width: 90%;
  -webkit-animation: animation-main-div1 900ms ease-out 1 forwards;
          animation: animation-main-div1 900ms ease-out 1 forwards;
  border: dotted pink 2px;
  -webkit-box-shadow: 0px 0px 20px green;
          box-shadow: 0px 0px 20px green;
}

@keyframes animation-main-div1 {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.total #div1 .div1-header {
  color: white;
  font-size: 2rem;
  font-family: cursive;
  display: block;
  text-align: center;
}

.total #div1 .main-div1-section-all {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.total #div1 .main-div1-section-all .div1-section-all {
  width: auto;
  margin: 0 auto;
  text-align: center;
  margin: 0.5rem;
  -webkit-animation: animation-main-div1 900ms ease-out 1 forwards;
          animation: animation-main-div1 900ms ease-out 1 forwards;
}

@keyframes animation-main-div1 {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.total #div1 .main-div1-section-all .div1-section-all .div1-section-all-images {
  width: 90%;
  margin: 0 auto;
  border-radius: 30px;
}

.total #div1 .main-div1-section-all .div1-section-all .div1-p-prices-for-chain-letters {
  color: white;
  font-size: medium;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0.2rem;
  background-color: transparent;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 10px red;
          box-shadow: 0px 0px 10px red;
}

.total #div1 .main-div1-section-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.total #div1 .main-div1-section-2 .parent-to-arrow-for-e-z {
  position: relative;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.total #div1 .main-div1-section-2 .parent-to-arrow-for-e-z .left-arrow-for-letter-e-z {
  position: relative;
  border: white solid;
  background: -webkit-gradient(linear, right bottom, left top, from(black), color-stop(black), to(rgba(255, 255, 255, 0.788)));
  background: linear-gradient(to left top, black, black, rgba(255, 255, 255, 0.788));
  margin: 0 0 0 1rem;
  border-width: 0.3rem 0 0 0.3rem;
  display: block;
  padding: 1rem;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  cursor: pointer;
}

.total #div1 .main-div1-section-2 .parent-to-arrow-for-e-z .left-arrow-for-letter-e-z:hover {
  background: -webkit-gradient(linear, right bottom, left top, from(black), color-stop(black), to(#e63b10));
  background: linear-gradient(to left top, black, black, #e63b10);
}

.total #div1 .main-div1-section-2 .parent-to-arrow-for-e-z .right-arrow-for-letter-e-z {
  position: relative;
  border: white solid;
  background: -webkit-gradient(linear, left top, right bottom, from(black), color-stop(black), to(rgba(255, 255, 255, 0.788)));
  background: linear-gradient(to right bottom, black, black, rgba(255, 255, 255, 0.788));
  border-width: 0 0.3rem 0.3rem 0;
  display: block;
  padding: 1rem;
  margin: 0 1rem 0 0;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  cursor: pointer;
}

.total #div1 .main-div1-section-2 .parent-to-arrow-for-e-z .right-arrow-for-letter-e-z:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(black), color-stop(black), to(#ec1f10));
  background: linear-gradient(to right bottom, black, black, #ec1f10);
}

.total #div1 .main-div1-section-2 .extra-image-letter-e-z {
  border-radius: 30px;
  margin: 1rem auto;
}

.total #div1 .extra-information-under-e-z {
  background: linear-gradient(45deg, black, rgba(0, 0, 255, 0.705), black);
}

.total #div1 .extra-information-under-e-z .text-under-the-additional-letters {
  color: white;
  margin: 0.2rem 2rem;
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
}

.total #div2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  text-align: center;
  border: dotted pink 2px;
  -webkit-box-shadow: 0px 0px 20px green;
          box-shadow: 0px 0px 20px green;
  margin: 1rem auto;
  width: 90%;
  -webkit-animation: animation-main-div2 1100ms ease-out 1 forwards;
          animation: animation-main-div2 1100ms ease-out 1 forwards;
}

@-webkit-keyframes animation-main-div2 {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes animation-main-div2 {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.total #div2 .div2-header {
  color: white;
  font-size: 2rem;
  font-family: cursive;
}

.total #div2 .div2-section1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.total #div2 .div2-section1 .div-arrows-translate-parent1 {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.total #div2 .div2-section1 .div-arrows-translate-parent1 .arrow-pointing-right1 {
  position: relative;
  border: white solid;
  background: -webkit-gradient(linear, left top, right bottom, from(black), color-stop(black), to(rgba(255, 255, 255, 0.788)));
  background: linear-gradient(to right bottom, black, black, rgba(255, 255, 255, 0.788));
  border-width: 0 0.3rem 0.3rem 0;
  display: block;
  padding: 1rem;
  margin: 0 1rem 0 0;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  cursor: pointer;
}

.total #div2 .div2-section1 .div-arrows-translate-parent1 .arrow-pointing-right1:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(black), color-stop(black), to(#06f5d5));
  background: linear-gradient(to right bottom, black, black, #06f5d5);
}

.total #div2 .div2-section1 .div-arrows-translate-parent1 .arrow-pointing-left1 {
  position: relative;
  border: white solid;
  background: -webkit-gradient(linear, right bottom, left top, from(black), color-stop(black), to(rgba(255, 255, 255, 0.788)));
  background: linear-gradient(to left top, black, black, rgba(255, 255, 255, 0.788));
  margin: 0 0 0 1rem;
  border-width: 0.3rem 0 0 0.3rem;
  display: block;
  padding: 1rem;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  cursor: pointer;
}

.total #div2 .div2-section1 .div-arrows-translate-parent1 .arrow-pointing-left1:hover {
  background: -webkit-gradient(linear, right bottom, left top, from(black), color-stop(black), to(#10d7e6));
  background: linear-gradient(to left top, black, black, #10d7e6);
}

.total #div2 .div2-section1 .div2-section-images1 {
  border-radius: 30px;
  width: 90%;
  padding: 1rem;
}

.total #div2 .div2-section2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
  text-align: center;
  width: 95%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.total #div2 .div2-section2 .div-arrows-translate-parent2 {
  position: relative;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.total #div2 .div2-section2 .div-arrows-translate-parent2 .arrow-pointing-right2 {
  position: relative;
  border: white solid;
  background: -webkit-gradient(linear, left top, right bottom, from(black), color-stop(black), to(rgba(92, 60, 60, 0.788)));
  background: linear-gradient(to right bottom, black, black, rgba(92, 60, 60, 0.788));
  border-width: 0 0.3rem 0.3rem 0;
  display: block;
  padding: 1rem;
  margin: 0 1rem 0 0;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  cursor: pointer;
}

.total #div2 .div2-section2 .div-arrows-translate-parent2 .arrow-pointing-right2:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(black), color-stop(black), to(#0eeaf1));
  background: linear-gradient(to right bottom, black, black, #0eeaf1);
}

.total #div2 .div2-section2 .div-arrows-translate-parent2 .arrow-pointing-left2 {
  position: relative;
  border: white solid;
  background: -webkit-gradient(linear, right bottom, left top, from(black), color-stop(black), to(rgba(255, 255, 255, 0.788)));
  background: linear-gradient(to left top, black, black, rgba(255, 255, 255, 0.788));
  margin: 0 0 0 1rem;
  border-width: 0.3rem 0 0 0.3rem;
  display: block;
  padding: 1rem;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  cursor: pointer;
}

.total #div2 .div2-section2 .div-arrows-translate-parent2 .arrow-pointing-left2:hover {
  background: -webkit-gradient(linear, right bottom, left top, from(black), color-stop(black), to(#12ebe0));
  background: linear-gradient(to left top, black, black, #12ebe0);
}

.total #div2 .div2-section2 .div2-section-images2 {
  border-radius: 30px;
  width: 90%;
  margin: 1rem;
}

.total #div2 .extra-information-under-names {
  background: linear-gradient(45deg, black, rgba(0, 0, 255, 0.705), black);
}

.total #div2 .extra-information-under-names .text-under-the-additional-names {
  color: white;
  margin: 0.2rem 2rem;
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
}

.nav-bottom {
  background: rgba(75, 69, 69, 0.8);
}

.nav-bottom .bottomnav-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-filter: blur(100%);
          filter: blur(100%);
  z-index: 1;
  vertical-align: top;
}

.nav-bottom .bottomnav-section .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav-bottom .bottomnav-section .section1 .whatsapp-icon {
  width: 30px;
  height: 30px;
  margin: 0.5rem 5px;
  border-radius: 2000px;
  -webkit-box-shadow: 0px 0px 10px rgba(21, 255, 0, 0.651);
          box-shadow: 0px 0px 10px rgba(21, 255, 0, 0.651);
}

.nav-bottom .bottomnav-section .section1 .instagram-icon {
  width: 30px;
  height: 30px;
  margin: 0.5rem 5px;
  border-radius: 2000px;
  -webkit-box-shadow: 0px 0px 10px rgba(21, 255, 0, 0.651);
          box-shadow: 0px 0px 10px rgba(21, 255, 0, 0.651);
}

.nav-bottom .bottomnav-section .nav-bottom-heading {
  color: white;
  margin: 0.5rem auto 0 auto;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: 0px 0px 10px red;
          box-shadow: 0px 0px 10px red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}
/*# sourceMappingURL=letters.css.map */