@import "../css-headbands/basic.scss";
@import "../css-headbands/mixins.scss";

$border-radius30: 30px;

body {
    background: black;
    background-size: cover;
}
.total {
    .back-letters {
        color: burlywood;
        margin: 0.5rem;
        font-weight: 600;
    }
    .div-letters-header-top {
        display: flex;
        margin: 10px auto;
        width: 95%;
        padding: 0;
        height: 100%;
        font-family: cursive;
        animation: animation-headbands-heading 300ms ease-out 1 forwards;
        @include Headbands-Heading;
        .letters-header-top {
            width: 100%;
            position: relative;
            font-size: xx-large;
            height: fit-content;
            background: black;
            padding: 3px;
            margin: 5px auto;
            color: white;
            text-align: center;
            border-radius: 30px 30px 0 0;
        }
        .letters-header-top:before {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            z-index: -1;
            background: linear-gradient(45deg, green, orange, red, blue, green, orange, red, blue);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            background-size: 400%;
            border-radius: 30px 30px 0 0;
            animation: headbands-heading 20s linear infinite alternate-reverse;
            @include animation;
        }
    }
    .nav-top {
        border: dotted 2px red;
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: fit-content;
        border-radius: 0 0 20px 20px;
        animation: animation-nav-top 500ms ease-out 1 forwards;
        @include Nav-Top;
        .main-nav-top-bar {
            padding: 0.3rem;
            .a-tag-from-main-nav-top-bar {
                font-size: 1rem;
                color: rgba(255, 255, 255, 0.796);
                text-decoration: none;
                animation: animation-nav-top-items 700ms ease-out 1 forwards;
                @include Nav-Top-Items;
                &:hover {
                    padding: 0.2rem;
                    font-size: 1rem;
                    border-radius: $border-radius30;
                    color: rgba(255, 255, 255, 0.796);
                    text-decoration: underline;
                    background: rgba(255, 255, 0, 0.568);
                }
            }
        }
    }
    .button-for-displaying-prices-top {
        margin: 0.5rem auto;
        text-align: center;
        color: rgb(255, 0, 0);
        box-shadow: 0px 0px 20px red;
        background: transparent;
        filter: blur(100%);
        padding: 0.2rem;
        font-family: cursive;
        border-radius: $border-radius30;
        display: flex;
        justify-content: center;
        animation: animation-main-div1 800ms ease-out 1 forwards;
        @include Main-Div1;
    }
    .hidden-display-prices {
        display: none;
    }
    .hidden-display-prices.open1 {
        display: grid;
        grid-template-rows: auto auto auto auto auto auto;
        background: linear-gradient(45deg, rgba(255, 0, 0, 0.493), rgba(255, 68, 0, 0.411), rgba(255, 0, 0, 0.685));
        text-align: center;
        width: fit-content;
        padding: 1rem;
        border-radius: $border-radius30;
        margin: 0 auto;
        @include Button-display-prices1;
        animation: animation-Button-display-prices1 1s ease-out 1 forwards;

        .hidden-price-paragraph {
            color: white;
            font-size: large;
            margin: 0 auto;
        }
    }
    .hidden-display-prices.open2 {
        display: grid;
        grid-template-rows: auto auto auto auto auto auto;
        background: linear-gradient(45deg, rgba(255, 0, 0, 0.493), rgba(255, 68, 0, 0.411), rgba(255, 0, 0, 0.685));
        text-align: center;
        width: fit-content;
        padding: 1rem;
        border-radius: $border-radius30;
        margin: 0 auto;
        @include Button-display-prices2;
        animation: animation-Button-display-prices2 1s ease-out 1 forwards;
        .hidden-price-paragraph {
            color: red;
        }
    }

    #div1 {
        margin: 1rem auto;
        width: 90%;
        animation: animation-main-div1 900ms ease-out 1 forwards;
        @include Main-Div1;
        @include border-for-letters;
        .div1-header {
            color: white;
            font-size: 2rem;
            font-family: cursive;
            display: block;
            text-align: center;
        }
        .main-div1-section-all {
            display: grid;
            grid-template-columns: auto auto;

            .div1-section-all {
                width: auto;

                margin: 0 auto;
                text-align: center;
                margin: 0.5rem;
                animation: animation-main-div1 900ms ease-out 1 forwards;
                @include Main-Div1;
                .div1-section-all-images {
                    width: 90%;
                    margin: 0 auto;
                    border-radius: $border-radius30;
                }
                .div1-p-prices-for-chain-letters {
                    color: white;
                    font-size: medium;
                    width: fit-content;
                    margin: 0 auto;
                    padding: 0.2rem;
                    background-color: transparent;
                    border-radius: $border-radius30;
                    box-shadow: 0px 0px 10px red;
                }
            }
        }
        .main-div1-section-2 {
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: space-around;
            .parent-to-arrow-for-e-z {
                position: relative;
                transform: translateY(40%);
                .left-arrow-for-letter-e-z {
                    position: relative;
                    border: white solid;
                    background: linear-gradient(to left top, black, black, rgba(255, 255, 255, 0.788));
                    margin: 0 0 0 1rem;
                    border-width: 0.3rem 0 0 0.3rem;
                    display: block;
                    padding: 1rem;
                    transform: rotate(315deg);
                    cursor: pointer;
                    &:hover {
                        background: linear-gradient(to left top, black, black, rgb(230, 59, 16));
                    }
                }
                .right-arrow-for-letter-e-z {
                    position: relative;
                    border: white solid;
                    background: linear-gradient(to right bottom, black, black, rgba(255, 255, 255, 0.788));
                    border-width: 0 0.3rem 0.3rem 0;
                    display: block;
                    padding: 1rem;
                    margin: 0 1rem 0 0;
                    transform: rotate(315deg);
                    cursor: pointer;
                    &:hover {
                        background: linear-gradient(to right bottom, black, black, rgb(236, 31, 16));
                    }
                }
            }
            .extra-image-letter-e-z {
                border-radius: $border-radius30;
                margin: 1rem auto;
            }
        }
    }
    #div2 {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        @include border-for-letters;
        margin: 1rem auto;
        width: 90%;
        animation: animation-main-div2 1100ms ease-out 1 forwards;
        @include Main-Div2;
        .div2-header {
            color: white;
            font-size: 2rem;
            font-family: cursive;
        }
        .div2-section1 {
            width: fit-content;
            margin: 0 auto;
            text-align: center;
            width: 95%;
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: space-around;

            .div-arrows-translate-parent1 {
                transform: translateY(40%);

                .arrow-pointing-right1 {
                    position: relative;
                    border: white solid;
                    background: linear-gradient(to right bottom, black, black, rgba(255, 255, 255, 0.788));
                    border-width: 0 0.3rem 0.3rem 0;
                    display: block;
                    padding: 1rem;
                    margin: 0 1rem 0 0;
                    transform: rotate(315deg);
                    cursor: pointer;
                    &:hover {
                        background: linear-gradient(to right bottom, black, black, rgb(6, 245, 213));
                    }
                }
                .arrow-pointing-left1 {
                    position: relative;
                    border: white solid;
                    background: linear-gradient(to left top, black, black, rgba(255, 255, 255, 0.788));
                    margin: 0 0 0 1rem;
                    border-width: 0.3rem 0 0 0.3rem;
                    display: block;
                    padding: 1rem;
                    transform: rotate(315deg);
                    cursor: pointer;
                    &:hover {
                        background: linear-gradient(to left top, black, black, rgb(16, 215, 230));
                    }
                }
            }
            .div2-section-images1 {
                border-radius: $border-radius30;
                width: 90%;
                padding: 1rem;
            }
            .extra-information-under-e-z {
                .text-under-the-additional-letters {
                    color: white;
                }
            }
        }
        .div2-section2 {
            width: fit-content;
            margin: 1rem auto;

            text-align: center;
            width: 95%;
            justify-content: center;
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: space-around;

            .div-arrows-translate-parent2 {
                position: relative;
                transform: translateY(40%);

                .arrow-pointing-right2 {
                    position: relative;
                    border: white solid;
                    background: linear-gradient(to right bottom, black, black, rgba(92, 60, 60, 0.788));
                    border-width: 0 0.3rem 0.3rem 0;
                    display: block;
                    padding: 1rem;
                    margin: 0 1rem 0 0;
                    transform: rotate(315deg);
                    cursor: pointer;
                    &:hover {
                        background: linear-gradient(to right bottom, black, black, rgb(14, 234, 241));
                    }
                }
                .arrow-pointing-left2 {
                    position: relative;
                    border: white solid;
                    background: linear-gradient(to left top, black, black, rgba(255, 255, 255, 0.788));
                    margin: 0 0 0 1rem;
                    border-width: 0.3rem 0 0 0.3rem;
                    display: block;
                    padding: 1rem;
                    transform: rotate(315deg);
                    cursor: pointer;
                    &:hover {
                        background: linear-gradient(to left top, black, black, rgb(18, 235, 224));
                    }
                }
            }
            .div2-section-images2 {
                border-radius: $border-radius30;
                width: 90%;
                margin: 1rem;
            }
        }
    }
}
.nav-bottom {
    background: rgba(75, 69, 69, 0.8);

    .bottomnav-section {
        display: grid;
        grid-template-columns: auto auto;
        filter: blur(100%);
        z-index: 1;
        vertical-align: top;
        .section1 {
            display: flex;
            justify-content: flex-start;

            .whatsapp-icon {
                width: $border-radius30;
                height: $border-radius30;
                margin: 0.5rem 5px;
                border-radius: 2000px;
                box-shadow: 0px 0px 10px rgba(21, 255, 0, 0.651);
            }
            .instagram-icon {
                width: $border-radius30;
                height: $border-radius30;
                margin: 0.5rem 5px;
                border-radius: 2000px;
                box-shadow: 0px 0px 10px rgba(21, 255, 0, 0.651);
            }
        }

        .nav-bottom-heading {
            color: white;
            margin: 0.5rem auto 0 auto;
            border-radius: 20px 20px 0 0;
            box-shadow: 0px 0px 10px red;
            width: fit-content;
            padding: 10px;
        }
    }
}
