* {
    background-color: black;
    padding: 0; margin: 0;
} .back {
    margin: 5px;
    
} .h1-div1 {
    color: aqua;
    text-align: center;
    margin: 10px auto;
}
#ponpon-heading {
    font-size: 2em;
    text-align: center;
    border: aqua dotted 3px;
    border-radius: 60px;
    color: white;
    font-style: oblique;
    margin: 0 auto;
    width: 95%;
} .main-div {
    border: 3px rgb(0, 255, 0) solid;
    width: 95%;
    margin: 10px auto;
    height: fit-content;
}
#parent-1-2 {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    height: 50%;
    padding: 1%;
} #parent-3 {
    height: 70%; 
    width: fit-content;
    margin: 0 auto;
}
#first-div, #second-div {
    padding: 10px;
    width: 70%;
    margin: 10px auto;
    border: solid 2px aqua;
    border-radius: 30px;
    height: fit-content;
}  #third-div {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 10px;
    margin: 5px auto;
    width: 50%;
    margin-bottom: 10px;
    border: solid 2px aqua;
    border-radius: 30px;
    height: fit-content;
}
.p {
    color: white;
    text-align: center;
    font-size: 90%;
    width:fit-content;
    margin: 3px auto;
    background: linear-gradient(45deg, black, red, black);
}
.ponpon-img1 {
    width: 80%; height: 80%;
    border-radius: 20px;
    margin: 0 auto;
}
.ponpon-img2 {
    width: 80%; height: 80%;
    border-radius: 20px;
    margin: 0 auto; 
}
.ponpon-img3 {
    width: 90%; height: 90%;
    border-radius: 20px;
    margin: 0 auto;
}