html {
    scroll-behavior: smooth;
}
* {
    background-color: black;
    padding: 0; margin: 0;
} .back {
    margin: 15px;
    
} .h1-div1 {
    color: aqua;
    text-align: center;
    margin: 10px auto;
 
} 
.heading {
    animation: nav-load 500ms ease-out ;
}
@keyframes nav-load {
    0% {
        transform: translateY(-1000%);
    }
    100% {
        transform: translateY(0);
    }
}

#ponpon-heading {
    font-size: 2em;
    text-align: center;
    border: aqua dotted 2px;
    border-radius: 30px 30px 0 0 ;
    color: white;
    font-style: oblique;
    margin: 0 auto;
    width: calc(90% + 10px);
    padding: 5px;
} 


#nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin: 20px auto;
    border: dotted 2px red;
    border-radius: 0 0 30px 30px;
    width: 95%;
    animation: nav-load 900ms ease-out;
}
#nav1,
#nav2,
#nav3,
#nav4 {
    color: white;
    text-decoration: dotted;
    margin: 10px auto;
    font-size: small;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    animation: nav-children 1100ms ease-out;
}
@keyframes nav-children {
    0% {
        transform: translateX(-1200%);
    }
    100% {
        transform: translateX(0);
    }
}
#nav1:hover, #nav2:hover, #nav3:hover, #nav4:hover {
    background: linear-gradient(45deg, black, rgb(8, 243, 8), black);
    width: calc(100% + 10px);
}



.total {
    height: 100%;
}
#main-div1 {
    animation: nav-load-div1 1300ms ease-out;
}
#main-div2 {
    animation: nav-load-div1 1700ms ease-out;
}
#main-div3 {
    animation: nav-load-div1 2000ms ease-out;
}
@keyframes nav-load-div1 {
    0% {
        transform: translateX(-1000%) translateY(-500%);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
.main-div {
    border: 2px rgb(0, 255, 0) dotted;
    width: 95%;
    margin: 10px auto;
    height: 50%;
}
.parent-1-2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    
    margin-bottom: 10px;
}
.third-div {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.first-div,
.second-div, .div-3 {
    text-align: center;
    border: solid 2px aqua;
    border-radius: 30px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px 5px;
    margin: 5px;
    width: fit-content;
    margin: 5px 10px;
}
.p {
    color: white;
    text-align: center;
    font-size:80%;
    width: -moz-fit-content;
    width: fit-content;
    margin: 3px auto;
    background: linear-gradient(45deg, black, red, black);
    
}
.ponpon-img1 {
    width: 90%; height: 90%;
    border-radius: 20px;
    margin: 0 auto;
}
.ponpon-img2 {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    margin: 0;
}
.ponpon-img3 {
    width: 80%; height: 80%;
    border-radius: 20px;
    margin: 0 auto;
    filter: brightness(100%) saturate(200%);
}
#main-div3 {
    border: rgb(0, 255, 0) dotted 2px;
    width: 95%;
    margin: 0 auto;
}
.main-div-3 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    justify-content: center;
    
}
.h1-div3 {
    color: aqua;
    display: block;
    width: 100%;
    text-align: center;
}
.p3 {
    color: white;
    text-align: center;
    font-size:80%;
    width: -moz-fit-content;
    width: fit-content;
    margin: 3px auto;
    background: linear-gradient(45deg, black, red, black);
    border-radius: 30px;
    padding: 3px;
}
.ponpon-img1-3,
.ponpon-img2-3 {
    width: 90%;
    
    border-radius: 20px;
    margin: 10px auto;
}
.ponpon-img3-3,
.ponpon-img4-3 {
    width: 90%;
    border-radius: 20px;
    margin: 10px auto;
    height: 300px;
}
.div-1-1,
.div-2-2,
.div-3-3,
.div-4-4 {
    margin: 10px 15px;
    text-align: center;
    border: solid 2px aqua;
    border-radius: 30px;
    height: fit-content;
    padding: 5px;
}




#div-button-show-more-img {
    display: grid;
    justify-content: center;
    margin: 20px auto;
}
#button-show-more-img {
    color: white;
    padding: 5px;

}
#more-images {
    border: dotted red 2px;
    width: 95%;
    display: none;
    margin: 10px auto;
    height: fit-content;
    animation: nav-load-div-button 1000ms ease-out;
} 
@keyframes nav-load-div-button {
    0% {
        transform: translateX(-300%) translateY(-200%);
    }
    33% {
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: translateX(40%) translateY(50%);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

#show-more-images {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    border: 2px transparent;
    height: fit-content;
    margin: 10px auto;
} 
.group-images {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    height: calc(min-content - 10px);
    border: aqua 2px dotted;
    border-radius: 0 20px;
}
#prices3 {
    width: 60%; height: fit-content;
    display: grid;
    justify-content:center;
    margin: 0 auto 10px auto;
    height: fit-content;
    border: 2px transparent;

}



 .bottom-nav {
     display: grid;
     align-items: center;
     justify-content: center;
     border: blue 4px solid;
     color: aqua;
     width: 95%;
     height: auto;
     text-align: center;
     background: black;
     position: relative;
     clear: both;
     margin: 40px auto 0 auto;
 }
 .bottom-nav-para1,
 .bottom-nav-para2 {
     position: relative;
     background: transparent;
 }
 .bottom-nav-para2 {
     width: fit-content;
     height: fit-content;
     padding: 5px;
     text-align: center;
     margin: 10px;
     position: relative;
     border: 2px dotted red;
     font-size: medium;

 }
 .bottom-nav-para1 {
     width: fit-content;
     margin: 10px auto;
     position: relative;

 }
 .img-footer {
     border-radius: 100px;
     height: auto;
     width: 70%; 
     border: 2px dotted red;
     border-radius: 200px;
 }
 #contact-id {
     color: white;
     text-align: center;
 }
 .paragraph-footer {
     display: grid;
     grid-template-columns: auto auto;

 }
 .footer-heading {
     color: green;
     font-size: 30px;
 }
 .phone-number-footer {
     text-decoration: underline;
     color: white;

 }
 .insta-footer {
     text-decoration: underline;
     color: white;
 }
