body {
    background: black;
    width: 50%;

}
.element1 {
    position: relative;
    justify-content: center;
    text-align: center;
    color: white;
    display:inline-block;
    width: 470px;
    border: solid 5px red;
    border-radius: 60px 0 60px 0;
    border-image: linear-gradient(45deg, red, green, purple);
    border-image-slice: 1;
    width: 400px;
    margin-left: 25px;
}
ul {
    position: relative;
    justify-content: center;
    border: dashed 2px red;
    border-radius: 50px;
    width: 80%;
    left: 25px;
}
.ul1 {
background: linear-gradient();
filter: brightness(110%);
}
.reason1 {
font-size: 30px;
border: aqua solid;
font-style: italic;
border-radius: 0 100px 0 100px;
width: 85%;
position: relative;
left: 20px;
}
.reason2 {
    position: relative;
    font-size: 30px;
border: aqua solid;
font-style: italic;
border-radius: 0 100px 0 90px;
padding: 0 0 0 0;
width: 85%;
margin-top: 20px;
left: 20px;
}
.reason3 {
    position: relative;
    font-size: 30px;
border: aqua solid;
font-style: italic;
border-radius: 0 100px 0 90px;
padding: 0 0 0 0;
width: 400px;
margin-top: 20px;
left: 20px;
width: 85%;
}
.li1 {
    position: relative;
    color: black;
    font-size: 30px;
    margin: 10px;
    background: linear-gradient(45deg, red, green, orange);
    filter: brightness(150%) saturate(150%);
    width:370px; height: min-content;
    border-radius: 50px;
    width: 90%;
}
.li2 {
    position: relative;
    color: black;
    font-size: 30px;
    margin: 10px;
    background: linear-gradient(45deg, orange, green, red);
    filter: brightness(150%) saturate(150%);
    width:370px; height: min-content;
    border-radius: 50px;
    padding-left: 5px;
    width: 90%;
}
.middleImage {
    position: relative;
    left: 270px;
    top: 40px;
    width: 150px; height: 200px;
    border: solid;
    padding: 5px;
    border-radius: 30px 0 30px 0;
    background: linear-gradient(45deg, green, blue, orange);
}
.picture-collection {
    color: chartreuse;
    position: relative;
    bottom: 150px;
    left: 0px;
    border: dashed 2px;
    padding: 5px;
    margin: 5px;
   width: 129px; height: 20px;
    background: linear-gradient(90deg, blue, black, green);

}
.border-bottom-websites {
    border: solid 5px red;
    border-radius: 20px;
    width: 460px;
    background: linear-gradient(45deg, green, black, blue);
    width: 460px; height: 125px;
    
    
}
.paragraph-to-her-website {
    background-color: black;
    border: solid 5px;
    border-radius: 20px;
    padding: 5px;
    margin-left: 5px;
    color: white;
    width: 200px;
    align-content: stretch;
}
.paragraph-to-my-website {
    background-color: black;
    border: solid 5px;
    border-radius: 20px;
    padding: 5px;
    color: white;
    width: 200px;
    position: relative;
    left: 235px;
    bottom: 90px;
}
.text-for-picture-collection {
    position: relative;
    bottom: 140px;
    border: solid red 3px;
    border-radius: 0 20px 20px 20px;
    width: 100px;
    padding: 5px;
    color: white;
    font-weight: bold;
    left: 6px;
   
}



.body-pics-html {
    width: 100%;
    justify-content: center;
    border: solid red 3px;
    border-radius: 25px;
}
.paragraph-above-pics {
    color: white;
    position: relative;
    justify-content: center;
    text-align: center;
}
.images1 {
    width: 50%; height: 500px;
    padding: 10px;
    margin-left: 5px;
    border: solid 3px transparent;
    border-image: linear-gradient(45deg, red, black, blue);
    filter: brightness(110%) saturate(150%);
    border-image-slice: 1;
}
.heading-banner {

    font-size: 20px;
    margin-left: 10px;
    display: inline-block;
    justify-content: center;
    text-align: center;
    color: white;
    background: linear-gradient(45deg, green, red, black);
    position: relative;
    width: 450px;
   border: solid 3px transparent;
    border-image: linear-gradient(45deg, red, green, purple);
    border-image-slice: 1;
}
.first-img {
    width: 100px; height: 150px;
    border: solid 3px;
    background: linear-gradient(45deg, green, blue, red);
    filter: brightness(110%) saturate(130%);
    border-radius: 75px 0;
    padding: 3px;
}
.second-img {
    width: 100px; height: 150px;
    position: relative;
    left: 135px;
    bottom: 160px;
    border: solid 3px;
    background: linear-gradient(45deg, green, blue, red);
    filter: brightness(110%) saturate(130%);
    border-radius: 0 75px;
    padding: 3px;
    margin-right: 5px;
}
.third-img {
    width: 175px; height: 110px;
    position: relative;
    bottom: 140px;
    left: 25px;
    border: solid 3px;
    background: linear-gradient(45deg, green, blue, red);
    filter: brightness(110%) saturate(110%);
    padding: 3px;
}
.fourth-img {
    width: 100px; height: 150px;
    position: relative;
    bottom: 120px;
    border: solid 3px;
    background: linear-gradient(45deg, green, blue, red);
    filter: brightness(110%) saturate(130%);
    border-radius: 0 75px;
    padding: 3px;
}
.fifth-img {
    width: 100px; height: 150px;
    position: relative;
    bottom: 282px;
    left: 135px;
    border: solid 3px;
    background: linear-gradient(45deg, green, blue, red);
    filter: brightness(110%) saturate(130%);
    border-radius: 75px 0;
    padding: 3px;
}



.back {
    font-size: 20px;
    color: orangered;
}
.header {
    position: relative;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    width: 400px;
    margin-left: 35px;
    border: solid 3px transparent;
    border-image: linear-gradient(45deg, red, green, purple);
    border-image-slice: 1;
    background: center linear-gradient(90deg, skyBlue, black, purple);

}
.sect1 {
    color: white;
    width: 100%;
    margin: 20px 0 0 100px;
    font-size: 15px;
    text-align: center;
    border: solid 3px transparent;
    border-image: linear-gradient(45deg, yellow, green, blue );
    border-image-slice: 1;
}
.type1 {
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    width: 440px;
}
.type2 {
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    width: 440px;
}

