body {
    background-color: black;
text-align: center; justify-content: center; align-items: center; margin:0;padding:0;width:100%; 
display: inline-block;
}

    

div {
    
    font-size: 30px;
    background-color: black;
    color: white;  
    border: solid red;
  justify-content: center;
  align-items: center;
    margin:0;padding:0px;
    padding: 0 0 0 40px;
}
h3 {
    text-align: center;
}
li {
    font-style: italic;
    font-size: 30px;
    display: block;
}
.reason1 {
    font-size: 40px;
    font-weight: bolder;
display: inline-block;
    width: 550px;
    padding: 0 0 0 5px;
    font-style: italic;
    border-radius:125px 0 125px 0;
    height:inherit;
    border: solid 5px aqua;
    
}
.reason2 {
    font-size: 40px;
    
    font-weight: bolder;
    height:inherit;
    width: 350px;
    padding: 0 12px 0 12px;
    font-style: italic;
    border-radius:125px 0 125px 0;
    border: solid 5px aqua
}
.reason3 {
    font-size: 40px;
    
    font-weight: bolder;
    height:inherit;
    width: 500px;
    padding: 0 0 0 15px;
    font-style: italic;
    border-radius:125px 0 125px 0;
    border: solid 5px aqua
}
