
body {
    font-size: 30px;
    background-color: black;
    color: white;  
    border: solid red;
    display: flex;
  justify-content: center;
  align-items: center;
    margin:0;padding:0;width:100%; 
    
}
li {
    font-style: italic;
    font-size: 30px;
}
.reason1 {
    font-size: 40px;
    font-weight: bolder;
    width:auto;
    padding: 0 0 0 5px;
    font-style: italic;
    border-radius:125px 0 125px 0;
    height:inherit;
    border: solid 5px aqua
}
.reason2 {
    font-size: 40px;
    font-weight: bolder;
    height:inherit;
    width: auto;
    padding: 0 12px 0 12px;
    font-style: italic;
    border-radius:125px 0 125px 0;
    border: solid 5px aqua
}
.reason3 {
    font-size: 40px;
    font-weight: bolder;
    height:inherit;
    width: auto;
    padding: 0 0 0 15px;
    font-style: italic;
    border-radius:125px 0 125px 0;
    border: solid 5px aqua
}