body {
    background: black;
    width: 50%;

}

.element1 {
    position: relative;
    justify-content: center;
    text-align: center;
    color: white;
    display:inline-block;
    width: 470px;
}

ul {
    position: relative;
    justify-content: center;
    border: dashed 2px red;
    border-radius: 50px;
    width: 80%;
    left: 25px;
}

.ul1 {
background: linear-gradient();
filter: brightness(110%);
}


.reason1 {
font-size: 30px;
border: aqua solid;
font-style: italic;
border-radius: 0 100px 0 100px;
width: 85%;
position: relative;
left: 20px;
}
.reason2 {
    position: relative;
    font-size: 30px;
border: aqua solid;
font-style: italic;
border-radius: 0 100px 0 90px;
padding: 0 0 0 0;
width: 85%;
margin-top: 20px;
left: 20px;
}

.reason3 {
    position: relative;
    font-size: 30px;
border: aqua solid;
font-style: italic;
border-radius: 0 100px 0 90px;
padding: 0 0 0 0;
width: 400px;
margin-top: 20px;
left: 20px;
width: 85%;
}


.li1 {
    position: relative;
    color: black;
    font-size: 30px;
    margin: 10px;
    background: linear-gradient(45deg, red, green, orange);
    filter: brightness(150%) saturate(150%);
    width:370px; height: min-content;
    border-radius: 50px;
    width: 80%;
}

.li2 {
    position: relative;
    color: black;
    font-size: 30px;
    margin: 10px;
    background: linear-gradient(45deg, orange, green, red);
    filter: brightness(150%) saturate(150%);
    width:370px; height: min-content;
    border-radius: 50px;
    padding-left: 5px;
    width: 80%;
}

.middleImage {
    position: relative;
    left: 150px;
    width: 150px; height: 200px;
    border: solid;
    padding: 5px;
    border-radius: 30px 0 30px 0;
    background: linear-gradient(45deg, green, blue, orange);
}
.images {
    border: dotted 5px red;
    border-radius: 20px;
    width: 456px; height: 850px;
    
}
.body-pic-html {
    
    justify-content: center;
    border: solid, red, 3px;
    border-radius: 24px;
}
.picture-collection {
    color: chartreuse;
    position: relative;
    bottom: 150px;
    left: 0px;
    border: dashed 2px;
    padding: 5px;
    margin: 5px;
   width: 129px; height: 20px;
    background: linear-gradient(90deg, blue, black, green);
}
.border-bottom-websites {
    border: solid 5px red;
    border-radius: 20px;
    width: 460px;
    background: linear-gradient(45deg, green, black, blue);
    width: 460px; height: 125px;
    
    
}
.paragraph-to-her-website {
    background-color: black;
    border: solid 5px;
    border-radius: 20px;
    padding: 5px;
    margin-left: 5px;
    color: white;
    width: 200px;
    align-content: stretch;
}
.paragraph-to-my-website {
    background-color: black;
    border: solid 5px;
    border-radius: 20px;
    padding: 5px;
    color: white;
    width: 200px;
    position: relative;
    left: 235px;
    bottom: 90px;
}
.text-for-picture-collection {
    position: relative;
    bottom: 140px;
    border: solid red 3px;
    border-radius: 0 20px 20px 20px;
    width: 100px;
    padding: 5px;
    color: white;
    font-weight: bold;
    left: 6px;
   
}

.heading-banner {
    font-size: 20px;
    justify-content: center;
    text-align: center;
    color: white;
    border: chartreuse 3px solid;
    border-radius: 20px;
    background: linear-gradient(45deg, green, red, black);
    position: relative;
    width: 440px
}

.first-img {
    position: absolute;
    height: 300px; width: 200px;
    border: solid 3px;
    padding: 5px;
    background: linear-gradient(45deg, green, blue, red);
    border-radius: 150px 0;
    filter: brightness(110%) saturate(150%);
    
}

.second-img {
    position: absolute;
    width: 300px;
    left: 85px;
    border: solid 3px;
    padding: 5px;
    background: linear-gradient(45deg, red, black, orange);
    filter: brightness(110%) saturate(150%);
    top: 525px;

}

.third-img {
    position: absolute;
    height: 300px; 
    left: 250px;
    top: 198.499994px;
    border-radius: 0 150px;
    border: solid 3px;
    padding: 5px;
    background: linear-gradient(45deg, green, blue, red);
    filter: brightness(110%) saturate(150%);
    width: 200px;
}

.fourth-img {
    position: absolute;
    height: 300px; width: 200px;
    border-radius: 0 150px;
    top: 725px;
    border: solid 3px;
    padding: 5px;
    background: linear-gradient(45deg, green, blue, red);
filter: brightness(110%) saturate(150%);

}

.fifth-img {
    position: absolute;
    height: 300px; width: 200px;
    border-radius: 150px 0;
    top: 725px;
    left: 250px;
    border: solid 3px;
    padding: 5px;
    background: linear-gradient(45deg, green, blue, red);
    filter: brightness(110%) saturate(150%);
    
}

.back {
    font-size: 20px;
    color: orangered;
}

