.ww-body {
    background: black;
}
.ww-nav1 {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    background: linear-gradient(45deg, grey, darkgrey);
    margin: 20px 10px;
    border-radius: 10px 0;
    width: auto;
}
.ww-p1 {
    position: relative;
    font-size: 20px;
    color: black;
    padding: 3px;
    background: transparent;
    border: transparent;
    cursor: pointer;
    margin: 5px 15px;
    width: 10%;
}
.ww-p1:hover {
    background: transparent;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: dotted 3px red;
    transition: ease-in-out 0.3s;
    background-color: rgb(133, 132, 132);
    width: fit-content;
}
.button-background {
    background: transparent;
    width: 40%;
}
.ww-nav1::before,
.ww-nav1::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: linear-gradient(45deg,
            green,
            yellow,
            blue,
            red,
            orange,
            yellow,
            purple,
            green);
    background-size: 500%;

    z-index: -1;
    animation: animate 20s linear infinite;
}
.ww-nav1:after {
    filter: blur(50px);
    border: transparent;
}
@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
.after-nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 0 auto;
}
.after-nav-column1 {
    color: white;
    text-align: center;
    width: fit-content;
    justify-content: center;
}
.after-nav-column1-img {
    justify-content: center;
    align-content: center;
    width: 100%;
}
.after-nav-column2 {
    color: white;
    text-align: center;
    width: 100%;
}
.after-nav-column2-img {
    justify-content: center;
    align-content: center;
    width: 100%;
}
.border-after-nav-column1 {
    border: solid 3px;
    border-radius: 60px 0 60px 0;
    border-image: linear-gradient(45deg, black, white, black);
    border-image-slice: 1;
    padding: 5px;
    width: 40%;
}
.border-after-nav-column2 {
    border: solid 3px;
    border-radius: 60px 0 60px 0;
    border-image: linear-gradient(135deg, black, white, black);
    border-image-slice: 1;
    padding: 5px;
    width: 40%;
}
#ww-nav1-pp {
    display: none;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    font-style: italic;
    border: 2px dotted greenyellow;
    width: fit-content; padding: 10px;
    margin: 0 auto 10px auto;

}
#map {
    display: none;
}
.addressMap {
    display: grid;
    margin: 20px auto;
    text-align: center;
    justify-content: center;
} 
.number {
    content: '';
    display: none;

}  