* {
    margin: 0;
    padding: 0;
}
html, body {
    height:100%;
    scroll-behavior: smooth;
}
.ww-body {
    background: black;
    
}

.header-top {
    color: chartreuse;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.nav-beginning {
    min-height: 100%;
    overflow: auto;
    
} .ponponetjes, li {
    font-style: italic;
    list-style:circle;
}
.ww-nav1 {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    background: linear-gradient(45deg, grey, darkgrey);
    margin: 20px 10px;
    border-radius: 10px 0;
    width: auto;
}
.ww-p1 {
    position: relative;
    font-size: 20px;
    color: black;
    padding: 3px;
    background: transparent;
    border: transparent;
    cursor: pointer;
    margin: 5px 2px;
    width: 10%;
} #item-button-id3, a {
    text-decoration: none;
}
.ww-p1:hover {
    background: transparent;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: dotted 3px red;
    transition: ease-in-out 0.3s;
    background-color: rgb(133, 132, 132);
    width: min-content;
}
.button-background {
    background: transparent;
    width: 40%;
}
.ww-nav1::before,
.ww-nav1::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: linear-gradient(45deg,
            green,
            yellow,
            blue,
            red,
            orange,
            yellow,
            purple,
            green);
    background-size: 500%;

    z-index: -1;
    animation: animate 20s linear infinite;
}
.ww-nav1:after {
    filter: blur(70px);
    border: transparent;
}
@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
.after-nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 0 auto;
}
.after-nav-column1 {
    color: white;
    text-align: center;
    width: fit-content;
    justify-content: center;
}
.after-nav-column1-img {
    justify-content: center;
    align-content: center;
    width: 100%;
}
.after-nav-column2 {
    color: white;
    text-align: center;
    width: 100%;
}
.after-nav-column2-img {
    justify-content: center;
    align-content: center;
    width: 100%;
}
.border-after-nav-column1 {
    border: solid 3px;
    border-radius: 60px 0 60px 0;
    border-image: linear-gradient(45deg, black, white, black);
    border-image-slice: 1;
    padding: 5px;
    width: 40%;
}
.border-after-nav-column2 {
    border: solid 3px;
    border-radius: 60px 0 60px 0;
    border-image: linear-gradient(135deg, black, white, black);
    border-image-slice: 1;
    padding: 5px;
    width: 40%;
}
#ww-nav1-pp {
    display: none;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    font-style: italic;
    border: 2px dotted greenyellow;
    width: fit-content; padding: 10px;
    margin: 0 auto 10px auto;
    
}
 #ww-nav1-pp,
 .ww-nav1-pp1,
 .ww-nav1-pp2 {
    animation: ww-nav-pp-animation 300ms ease-out forwards alternate;
    -webkit-animation: ww-nav-pp-animation 300ms ease-out forwards alternate;
    -ms-animation: ww-nav-pp-animation 300ms ease-out forwards alternate;
    -moz-animation: ww-nav-pp-animation 300ms ease-out forwards alternate;
    -o-animation: ww-nav-pp-animation 300ms ease-out forwards alternate;
}

@keyframes ww-nav-pp-animation {
    0% {
        transform: translateY(-100%);
        opacity: -500%;
        font-size: 0px;
    }
    70% {
        opacity: 40%;
        
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
        font-size: 18px;
    }
}
.ww-nav1-pp1 {
    display: none;
    color: white;
    justify-content: center;
    text-align: center;
    border: 2px dotted greenyellow;
    font-size: 0px;
    font-family: sans-serif;
    font-weight: 0;
    font-style: italic;
    width: fit-content;
    padding: 10px;
    margin: 0 auto 10px auto;
    width: fit-content; height: fit-content; 
}


#a1-id1,
#a1-id2,
#a1-id3,
#a1-id4 {
    display: grid;
    position: relative;
    grid-template-rows: auto auto auto auto;
    text-align: center;
    margin: 5px auto;
    justify-content: center;
    font-size: medium;
    border-radius: 20px;
    padding: 5px;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    background: black;
}
#a1-id1:before,
#a1-id2:before,
#a1-id3:before,
#a1-id4:before,
#a1-id1:after,
#a1-id2:after,
#a1-id3:after,
#a1-id4:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 30px;
    z-index: -999;
    background: linear-gradient(45deg, green, orange, red, blue, green, orange, red, blue);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: a-animation 20s linear infinite forwards alternate;
    background-size: 400%;
}
@keyframes a-animation {
    0% {
        background-position: 0 0;
        transform: translateX(-20px);
    }
    3% {
        transform: translateX(0);
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
#a1-id1:before:hover,
#a1-id2:before:hover,
#a1-id3:before:hover,
#a1-id4:before:hover,
#a1-id1:after:hover,
#a1-id2:after:hover,
#a1-id3:after:hover,
#a1-id4:after:hover {
    background: transparent;
}
#ww-nav1-pp2 {
    display: none;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    font-style: italic;
    border: 2px dotted greenyellow;
    width: fit-content;
    padding: 10px;
    margin: 0 auto 10px auto;
}
#map {
    display: none;
}
.addressMap {
    display: grid;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
} 
.number {
    content: '';
    display: none;

}
#img-button {
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    position: relative;
    padding-bottom: 200px;
} .ponImages {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.pon-img {
    width: 80%; 
    height: 200px; 
    display: none; 
    padding: 5px; 
    margin: 10px; 
    border: solid 3px;  
    border-image: linear-gradient(45deg, black, white, black);
    border-image-slice: 1;
} #pics-button1 {
    background: linear-gradient(45deg, black, yellow, black); filter: brightness(150%) saturate(200%);
    font-size: 18px;
} #pics-button2 {
    display: none;
    background: linear-gradient(45deg, black, green, yellow, black); filter: brightness(150%) saturate(200%);
    font-size: 18px;
} #pics-button1:hover,
#pics-button2:hover {
    filter: brightness(200%);    
} #bottom-nav { 
    display: grid;
    align-items: center;
    justify-content: center;
    border: blue 3px solid;
    margin: 0 auto;
    color: aqua;
    width: fit-content; height: auto;
    text-align: center;
    background: linear-gradient(90deg, black, rgb(65, 61, 61));
    
    clear: both;
    margin: 0px auto 0 auto;
}

.bottom-nav-para1,
.bottom-nav-para2 {
    
    position: relative;
    background: transparent;
    
} .bottom-nav-para2 {
    width: fit-content; height: fit-content; padding: 5px;
    text-align: center;
    margin: 10px;
    position: relative;
    border: 2px dotted red;
    font-size: 1em;
    
} .bottom-nav-para1 {
    width: fit-content;
    margin: 10px auto;
    position: relative;
    
} .img-footer {
    border-radius: 100px;
    height: auto; width: 60%;
    border: 2px dotted red;
    border-radius: 200px;  
} #contact-id {
    color: white;
    text-align: center;
} .paragraph-footer {
    display: grid;
    grid-template-columns: auto auto;
    
} .footer-heading {
    color: green;
    font-size: 23px;
}

.phone-number-footer{
    text-decoration: underline;
    color: white;
    
} .insta-footer {
    text-decoration: underline;
    color: white;
}
#prize-images {
    width: 10%;
    height: 60%;
    justify-content: center;
    align-items: center;
}
.text-img-prizes {
   text-decoration: underline;
   font-size: 17px;
   background: transparent;
   color: white;
   border-radius: 20px;
   width: fit-content;
   padding: 5px 5px;
   cursor: pointer;
   display: inline;
} .text-img-prizes:hover {
    background: darkblue;
}



.buttons {
    text-decoration: underline;
    font-size: 17px;
    text-align: center;
    background: transparent;
    color: white;
    border-radius: 20px;
    width: fit-content;
    padding: 5px 5px;
    cursor: pointer;
    display: block;
    margin: 5px;
}  
#item1-id {
    text-decoration: none;
    border: transparent;
    color: white;
    font-style: oblique;



}
.div-para-intro {
    display: grid;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 80%;
    margin: 10px auto;
    transform: translateY();

}
.intro-para {

    color: green;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    border: 2px solid red;
    border-radius: 20px;
    padding: 10px;
    animation: Paragraph-intro 1000ms ease-out both;
    
}
@keyframes Paragraph-intro {
    0% {
        transform: translateY(200%) scaleX(-1);
        opacity: 0%;
        font: 0px;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        font: large;
        opacity: 100%;
    }
}