@import "mixins";
@import "basic";
@import "keyframes";
$heights-widths: (
    "height-fit-content": fit-content,
    "height-hundred": 100%,
    "height-max-content": max-content,
    "width-fit-content": fit-content,
    "width-hundred": 100%,
    "width-max-content": max-content,
);

$border-radius30: 30px;
.body {
    background: black;
    background-size: cover;
}
.total {
    min-height: 100vh;
    .back {
        color: green;
        margin: 10px;
    }
    .div-headbands-heading {
        display: flex;
        margin: 10px auto;
        width: 95%;
        padding: 0;
        height: 100%;

        .headbands-heading {
            width: 100%;
            position: relative;
            font-size: xx-large;
            height: fit-content;
            background: black;
            padding: 3px;
            margin: 5px auto;
            color: white;
            text-align: center;
            border-radius: 30px 30px 0 0;
        }
        .headbands-heading:before {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            z-index: -1;
            background: linear-gradient(45deg, green, orange, red, blue, green, orange, red, blue);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            background-size: 400%;
            border-radius: 30px 30px 0 0;
            animation: headbands-heading 20s linear infinite alternate-reverse;
            @include animation();
        }
    }
    .div-navbar-top {
        border: red dotted 2px;
        border-radius: 0 0 30px 30px;
        margin: 0 auto;
        width: 95%;

        .nav-headbands {
            @include Directions-For-Navbar(center);

            .sect {
                color: white;
                text-decoration: none;
                padding: 5px;
                margin: 3px auto;
                border-radius: $border-radius30;

                &:hover {
                    background: linear-gradient(45deg, black, blue, black);
                    border-radius: $border-radius30;
                    margin: 5px;
                    text-decoration: none;
                }
            }
        }
    }
    .div-button-display-headbands {
        display: grid;
        justify-content: center;
        margin: 10px auto;
        border-radius: $border-radius30;
        .button-display-headbands-prices {
            padding: 5px;
            background: black;
            color: white;
            border-radius: $border-radius30;
            box-shadow: 0px 0px 20px red;
        }
    }
    .prices-for-headbands {
        transform: translateX(-1000px);
        position: absolute;
        .price1, .price2 {
            color: white;
            font-size: 1rem;
            font-family:sans-serif;
            padding: 3px auto;
        }
    }
    .prices-for-headbands.open1 {
        display: grid;
        animation: DisplayPricesOpen 1s ease-out 1 forwards;
        @include DisplayPrices1;
        position: relative;
        transform: translateX(0);
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
        padding: 5px;
        border-radius: 10px;
        background: linear-gradient(45deg, rgba(49, 185, 49, 0.589), rgba(12, 197, 12, 0.664), rgba(144, 238, 144, 0.603));
    }
    .prices-for-headbands.open2 {
        display: grid;
        animation: DisplayPricesClose 1s ease-in 1 both;
        @include DisplayPrices2;
        position: absolute;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
        padding: 5px;
        border-radius: 10px;
        background: linear-gradient(45deg, rgba(49, 185, 49, 0.589), rgba(12, 197, 12, 0.664), rgba(144, 238, 144, 0.603));
    }
    .main-div1 {
        display: grid;
        width: 95%;
        margin: 10px auto;
        transition: ease-in 1s all;
        border: blue 2px dotted;
        height: auto;
        .main-div1-heading {
            color: white;
            font-size: 2rem;
            font-family: cursive;
            text-align: center;
            background: linear-gradient(45deg, black, rgba(255, 0, 0, 0.089), black);
            width: calc(50% + 10px);
            margin: 3px auto;
        }
        .four-images-div-1 {
            display: grid;
            grid-template-columns: auto auto;

            .main-div1-section1,
            .main-div1-section2,
            .main-div1-section3,
            .main-div1-section4 {
                text-align: center;
                margin: 5px auto;
                border: 2px rgba(255, 0, 0, 0.26) solid;
                width: 90%;
                height: auto;
                .main-div1-images {
                    width: 90%;
                    height: auto;
                    margin: 5px auto;
                    border-radius: $border-radius30;
                }
            }
        }
    }
    .main-div2 {
        display: grid;
        width: 95%;
        margin: 10px auto;
        border: blue 2px dotted;
        height: auto;
        .main-div2-heading {
            color: white;
            font-size: 2rem;
            font-family: cursive;
            text-align: center;
            background: linear-gradient(45deg, black, rgba(255, 0, 0, 0.089), black);
            width: calc(50% + 10px);
            margin: 3px auto;
        }
        .four-images-div-2 {
            display: grid;
            grid-template-columns: auto auto;

            .main-div2-section1,
            .main-div2-section2,
            .main-div2-section3,
            .main-div2-section4 {
                text-align: center;
                margin: 5px auto;
                border: 2px rgba(255, 0, 0, 0.404) solid;
                width: 90%;
                height: auto;
                .main-div2-images {
                    width: 90%;
                    height: auto;
                    margin: 5px auto;
                    border-radius: $border-radius30;
                }
            }
        }
    }
    .main-div3 {
        display: grid;
        width: 95%;
        margin: 10px auto;
        border: blue 2px dotted;
        height: auto;
        .main-div3-heading {
            color: white;
            font-size: 2rem;
            font-family: cursive;
            text-align: center;
            background: linear-gradient(45deg, black, rgba(255, 0, 0, 0.089), black);
            width: calc(50% + 10px);
            margin: 3px auto;
        }
        .four-images-div-3 {
            display: grid;
            grid-template-columns: auto auto;

            .main-div3-section1,
            .main-div3-section2,
            .main-div3-section3,
            .main-div3-section4 {
                text-align: center;
                margin: 5px auto;
                border: 2px rgba(255, 0, 0, 0.61) solid;
                width: 90%;
                height: auto;
                .main-div3-images {
                    width: 90%;
                    height: auto;
                    margin: 5px auto;
                    border-radius: $border-radius30;
                }
            }
        }
    }
    
}
.nav-bottom {
    background: rgba(75, 69, 69, 0.5);

    .bottomnav-section {
        display: grid;
        grid-template-columns: auto auto;
        filter: blur(100%);
        z-index: 1;
        .section1 {
            display: flex;
            justify-content: flex-start;
            
            .whatsapp-icon {
                width: $border-radius30;
                height: $border-radius30;
                margin: 0.5rem 5px;
                border-radius: 2000px;
                box-shadow: 0px 0px 10px rgba(21, 255, 0, 0.651);
            }
            .instagram-icon {
                width: $border-radius30;
                height: $border-radius30;
                margin: 0.5rem 5px;
                border-radius: 2000px;
                box-shadow: 0px 0px 10px rgba(21, 255, 0, 0.651);
            }
        }

        .nav-bottom-heading {
            color: white;
            margin: 0.5rem auto 0 auto;
            border-radius: 20px 20px 0 0;
            box-shadow: 0px 0px 10px red;
            width: fit-content;
            padding: 5px;

        }
    }
}
