@mixin Directions-For-Navbar($text-align) {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    text-align: $text-align;
}
@mixin animation(){
    @keyframes headbands-heading {
        
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
}
$heights-widths: (
    "height-fit-content": fit-content,
    "height-hundred": 100%,
    "height-max-content": max-content,
    "width-fit-content": fit-content,
    "width-hundred": 100%,
    "width-max-content": max-content,
);

 $border-radius30: 30px;

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.body {
    background: black;
}

.total {
    min-height: 100vh;
.back {
    color: green;
    margin: 10px;
}
.div-headbands-heading {
    display: flex;
    margin: 10px auto;
    width: 95%;
    padding: 0;
    height: 100%;

        .headbands-heading {
            width: 100%;
            position: relative;
            font-size: xx-large;
            height: fit-content;
            background: black;
            padding: 3px;
            margin: 5px auto;
            color: white;
            text-align: center;
            border-radius: 30px 30px 0 0;
        }
        .headbands-heading:before {
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            z-index: -1;
            background: linear-gradient(45deg, green, orange, red, blue, green, orange, red, blue);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            background-size: 400%;
            border-radius: 30px 30px 0 0;
            animation: headbands-heading 20s linear infinite alternate-reverse;
            @include animation();
        }
}
.div-navbar {
    border: red dotted 2px;
    border-radius: 0 0 30px 30px;
    margin: 0 auto;
    width: 95%;

        .nav-headbands {
            @include Directions-For-Navbar(center);

            .sect {
                color: white;
                text-decoration:none;
                padding: 5px;
                margin: 3px auto;
                border-radius: $border-radius30;
            }
            .sect:hover {
                background: linear-gradient(45deg, black, blue, black);
                border-radius: $border-radius30;
            }
        }
    

}
.div-button-display-headbands {
    display: grid;
    justify-content: center;
    margin: 10px auto;
    border-radius: $border-radius30;
 .button-display-headbands {
    padding: 5px;
    background: black;
    color: white;
    border-radius: $border-radius30;
    box-shadow: 0px 0px 20px red;
}
}
}
.nav-bottom {
    display: grid;
    grid-template-columns: auto auto;
    border: solid 2px blue;
    margin: 0 auto;
    width: 95%;
     .bottomnav-section1 {
         color: white;
         text-align: start;
         margin: auto 0 auto 10%;
         padding: 5px;
         
         width: fit-content;

         .cropped-pic {
             border: red 2px dotted;
             border-radius: 100px;
             width:70%;
             height: auto;
             margin: 0 auto;
         }
     }
     .bottomnav-section2 {
         color: white;
         text-align: center;
         padding: 5px;
         width: fit-content;
         border: red 2px dotted;
         height: fit-content;
         margin: 5px 5px 5px 0;

        .nav-bottom-heading {
            color: greenyellow;
            margin: 5px;
            font-size: 1em;
            font-family: cursive;
        }
         .p-bottom {
             color: aqua;
             font: 0.8em sans-serif;
         }
         .p-bottom-insta, .p-bottom-number {
             color: white;
             text-decoration: underline;
         }
        
     }
}
