* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.body {
  background: black;
}

.total {
  min-height: 100vh;
}

.total .back {
  color: green;
  margin: 10px;
}

.total .div-headbands-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
  width: 95%;
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.total .div-headbands-heading .headbands-heading {
  width: 100%;
  position: relative;
  font-size: xx-large;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: black;
  padding: 3px;
  margin: 5px auto;
  color: white;
  text-align: center;
  border-radius: 30px 30px 0 0;
}

.total .div-headbands-heading .headbands-heading:before {
  content: '';
  border-radius: 30px 30px 0 0;
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  background: linear-gradient(45deg, green, orange, red, blue, green, orange, red, blue);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: headbands-heading 20s linear infinite alternate-reverse;
  background-size: 400%;
}

@-webkit-keyframes headbands-heading {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes headbands-heading {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.total .navbar {
  border: red dotted 2px;
  border-radius: 0 0 30px 30px;
  margin: 0 auto;
  width: 95%;
}

.total .navbar .nav-headbands {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.total .navbar .nav-headbands .sect {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 3px auto;
  border-radius: 30px;
}

.total .navbar .nav-headbands .sect:hover {
  background: linear-gradient(45deg, black, blue, black);
  border-radius: 30px;
}

.total .div-button-display-headbands {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
  border-radius: 30px;
}

.total .button-display-headbands {
  padding: 5px;
  background: black;
  color: white;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 20px red;
          box-shadow: 0px 0px 20px red;
}

.bottom-nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: blue 2px solid;
  color: aqua;
  width: 95%;
  max-width: 95%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: black;
  clear: both;
  margin: 0 auto;
}

.bottom-nav .paragraph-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  height: auto;
  text-align: start;
  margin: 0 20px;
}

.bottom-nav .paragraph-footer .bottom-nav-para1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
  position: relative;
  height: 50%;
  min-width: 30px;
  min-height: 30px;
}

.bottom-nav .paragraph-footer .bottom-nav-para1 .img-footer {
  width: 80%;
  max-width: 80%;
  border: 2px dotted red;
  border-radius: 200px;
}

.bottom-nav .paragraph-footer .bottom-nav-para2 {
  display: -ms-grid;
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  margin: 10px auto;
  border: 2px dotted red;
}

.bottom-nav .paragraph-footer .bottom-nav-para2 .p {
  min-height: 5px;
  min-width: 5px;
  text-align: center;
}

.bottom-nav .paragraph-footer .bottom-nav-para2 .footer-heading {
  color: green;
  font-size: x-large;
  width: 100%;
  text-align: center;
}

.bottom-nav .paragraph-footer .bottom-nav-para2 .phone-number-footer {
  text-decoration: underline;
  color: white;
}

.bottom-nav .paragraph-footer .bottom-nav-para2 .insta-footer {
  text-decoration: underline;
  color: white;
}
/*# sourceMappingURL=headbands.css.map */