* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.body {
  background: black;
  background-size: cover;
}

.total {
  min-height: 100vh;
}

.total .back {
  color: green;
  margin: 10px;
}

.total .div-headbands-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  width: 95%;
  padding: 0;
  height: 100%;
  -webkit-animation: animation-headbands-heading 300ms ease-out 1 forwards;
          animation: animation-headbands-heading 300ms ease-out 1 forwards;
}

@-webkit-keyframes animation-headbands-heading {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes animation-headbands-heading {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.total .div-headbands-heading .headbands-heading {
  width: 100%;
  position: relative;
  font-size: xx-large;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: black;
  padding: 3px;
  margin: 5px auto;
  color: white;
  text-align: center;
  border-radius: 30px 30px 0 0;
}

.total .div-headbands-heading .headbands-heading:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: -1;
  background: linear-gradient(45deg, green, orange, red, blue, green, orange, red, blue);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-size: 400%;
  border-radius: 30px 30px 0 0;
  animation: headbands-heading 20s linear infinite alternate-reverse;
}

@-webkit-keyframes headbands-heading {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes headbands-heading {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.total .div-navbar-top {
  border: red dotted 2px;
  border-radius: 0 0 30px 30px;
  margin: 0 auto;
  width: 95%;
  -webkit-animation: animation-nav-top 1s ease-out forwards;
          animation: animation-nav-top 1s ease-out forwards;
}

@-webkit-keyframes animation-nav-top {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 100%;
  }
}

@keyframes animation-nav-top {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 100%;
  }
}

.total .div-navbar-top .nav-headbands {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.total .div-navbar-top .nav-headbands .sect {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 3px auto;
  border-radius: 30px;
  -webkit-animation: animation-nav-top-items 1.2s ease-out forwards;
          animation: animation-nav-top-items 1.2s ease-out forwards;
}

@-webkit-keyframes animation-nav-top-items {
  0% {
    opacity: 0;
    -webkit-transform: translate(-700px, -300px);
            transform: translate(-700px, -300px);
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes animation-nav-top-items {
  0% {
    opacity: 0;
    -webkit-transform: translate(-700px, -300px);
            transform: translate(-700px, -300px);
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.total .div-navbar-top .nav-headbands .sect:hover {
  background: linear-gradient(45deg, black, blue, black);
  border-radius: 30px;
  margin: 5px;
  text-decoration: none;
}

.total .div-button-display-headbands {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
  border-radius: 30px;
  -webkit-animation: animation-Button-display-prices 1.4s ease-out forwards;
          animation: animation-Button-display-prices 1.4s ease-out forwards;
}

@-webkit-keyframes animation-Button-display-prices {
  0% {
    opacity: 0;
    -webkit-transform: translate(-700px, -400px);
            transform: translate(-700px, -400px);
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes animation-Button-display-prices {
  0% {
    opacity: 0;
    -webkit-transform: translate(-700px, -400px);
            transform: translate(-700px, -400px);
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.total .div-button-display-headbands .button-display-headbands-prices {
  padding: 5px;
  background: black;
  color: white;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 20px yellow;
          box-shadow: 0px 0px 20px yellow;
}

.total .prices-for-headbands {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
  position: absolute;
}

.total .prices-for-headbands .price1,
.total .prices-for-headbands .price2 {
  color: white;
  font-size: 1rem;
  font-family: sans-serif;
  padding: 3px auto;
}

.total .prices-for-headbands.open1 {
  display: -ms-grid;
  display: grid;
  -webkit-animation: DisplayPricesOpen 1s ease-out 1 forwards;
          animation: DisplayPricesOpen 1s ease-out 1 forwards;
  position: relative;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  background: linear-gradient(45deg, rgba(49, 185, 49, 0.589), rgba(12, 197, 12, 0.664), rgba(144, 238, 144, 0.603));
}

@-webkit-keyframes DisplayPricesOpen {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 100%;
  }
}

@keyframes DisplayPricesOpen {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 100%;
  }
}

.total .prices-for-headbands.open2 {
  display: -ms-grid;
  display: grid;
  -webkit-animation: DisplayPricesClose 1s ease-in 1 both;
          animation: DisplayPricesClose 1s ease-in 1 both;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  background: linear-gradient(45deg, rgba(49, 185, 49, 0.589), rgba(12, 197, 12, 0.664), rgba(144, 238, 144, 0.603));
}

@-webkit-keyframes DisplayPricesClose {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: relative;
    opacity: 100%;
  }
  98% {
    position: absolute;
    opacity: 5%;
  }
  100% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    opacity: 0;
  }
}

@keyframes DisplayPricesClose {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: relative;
    opacity: 100%;
  }
  98% {
    position: absolute;
    opacity: 5%;
  }
  100% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    opacity: 0;
  }
}

.total .main-div1 {
  display: -ms-grid;
  display: grid;
  width: 95%;
  margin: 10px auto;
  -webkit-transition: ease-in 1s all;
  transition: ease-in 1s all;
  border: blue 2px dotted;
  height: auto;
  -webkit-animation: animation-main-div1 900ms ease-out 1 forwards;
          animation: animation-main-div1 900ms ease-out 1 forwards;
}

@-webkit-keyframes animation-main-div1 {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes animation-main-div1 {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.total .main-div1 .main-div1-heading {
  color: white;
  font-size: 2rem;
  font-family: cursive;
  text-align: center;
  background: linear-gradient(45deg, black, rgba(255, 0, 0, 0.089), black);
  width: calc(50% + 10px);
  margin: 3px auto;
}

.total .main-div1 .four-images-div-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.total .main-div1 .four-images-div-1 .main-div1-section1,
.total .main-div1 .four-images-div-1 .main-div1-section2,
.total .main-div1 .four-images-div-1 .main-div1-section3,
.total .main-div1 .four-images-div-1 .main-div1-section4 {
  text-align: center;
  margin: 5px auto;
  border: 2px rgba(255, 0, 0, 0.26) solid;
  width: 90%;
  height: auto;
}

.total .main-div1 .four-images-div-1 .main-div1-section1 .main-div1-images,
.total .main-div1 .four-images-div-1 .main-div1-section2 .main-div1-images,
.total .main-div1 .four-images-div-1 .main-div1-section3 .main-div1-images,
.total .main-div1 .four-images-div-1 .main-div1-section4 .main-div1-images {
  width: 90%;
  height: auto;
  margin: 5px auto;
  border-radius: 30px;
}

.total .main-div2 {
  display: -ms-grid;
  display: grid;
  width: 95%;
  margin: 10px auto;
  border: blue 2px dotted;
  height: auto;
  -webkit-animation: animation-main-div2 1200ms ease-out 1 forwards;
          animation: animation-main-div2 1200ms ease-out 1 forwards;
}

@-webkit-keyframes animation-main-div2 {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes animation-main-div2 {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.total .main-div2 .main-div2-heading {
  color: white;
  font-size: 2rem;
  font-family: cursive;
  text-align: center;
  background: linear-gradient(45deg, black, rgba(255, 0, 0, 0.089), black);
  width: calc(50% + 10px);
  margin: 3px auto;
}

.total .main-div2 .four-images-div-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.total .main-div2 .four-images-div-2 .main-div2-section1,
.total .main-div2 .four-images-div-2 .main-div2-section2,
.total .main-div2 .four-images-div-2 .main-div2-section3,
.total .main-div2 .four-images-div-2 .main-div2-section4 {
  text-align: center;
  margin: 5px auto;
  border: 2px rgba(255, 0, 0, 0.404) solid;
  width: 90%;
  height: auto;
}

.total .main-div2 .four-images-div-2 .main-div2-section1 .main-div2-images,
.total .main-div2 .four-images-div-2 .main-div2-section2 .main-div2-images,
.total .main-div2 .four-images-div-2 .main-div2-section3 .main-div2-images,
.total .main-div2 .four-images-div-2 .main-div2-section4 .main-div2-images {
  width: 90%;
  height: auto;
  margin: 5px auto;
  border-radius: 30px;
}

.total .main-div3 {
  display: -ms-grid;
  display: grid;
  width: 95%;
  margin: 10px auto;
  border: blue 2px dotted;
  height: auto;
  -webkit-animation: animation-main-div3 1500ms ease-out 1 forwards;
          animation: animation-main-div3 1500ms ease-out 1 forwards;
}

@-webkit-keyframes animation-main-div3 {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes animation-main-div3 {
  0% {
    -webkit-transform: translate(-500px, -100px);
            transform: translate(-500px, -100px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.total .main-div3 .main-div3-heading {
  color: white;
  font-size: 2rem;
  font-family: cursive;
  text-align: center;
  background: linear-gradient(45deg, black, rgba(255, 0, 0, 0.089), black);
  width: calc(50% + 10px);
  margin: 3px auto;
}

.total .main-div3 .four-images-div-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.total .main-div3 .four-images-div-3 .main-div3-section1,
.total .main-div3 .four-images-div-3 .main-div3-section2,
.total .main-div3 .four-images-div-3 .main-div3-section3,
.total .main-div3 .four-images-div-3 .main-div3-section4 {
  text-align: center;
  margin: 5px auto;
  border: 2px rgba(255, 0, 0, 0.61) solid;
  width: 90%;
  height: auto;
}

.total .main-div3 .four-images-div-3 .main-div3-section1 .main-div3-images,
.total .main-div3 .four-images-div-3 .main-div3-section2 .main-div3-images,
.total .main-div3 .four-images-div-3 .main-div3-section3 .main-div3-images,
.total .main-div3 .four-images-div-3 .main-div3-section4 .main-div3-images {
  width: 90%;
  height: auto;
  margin: 5px auto;
  border-radius: 30px;
}

.nav-bottom {
  background: rgba(75, 69, 69, 0.5);
}

.nav-bottom .bottomnav-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-filter: blur(100%);
          filter: blur(100%);
  z-index: 1;
}

.nav-bottom .bottomnav-section .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav-bottom .bottomnav-section .section1 .whatsapp-icon {
  width: 30px;
  height: 30px;
  margin: 0.5rem 5px;
  border-radius: 2000px;
  -webkit-box-shadow: 0px 0px 10px rgba(21, 255, 0, 0.651);
          box-shadow: 0px 0px 10px rgba(21, 255, 0, 0.651);
}

.nav-bottom .bottomnav-section .section1 .instagram-icon {
  width: 30px;
  height: 30px;
  margin: 0.5rem 5px;
  border-radius: 2000px;
  -webkit-box-shadow: 0px 0px 10px rgba(21, 255, 0, 0.651);
          box-shadow: 0px 0px 10px rgba(21, 255, 0, 0.651);
}

.nav-bottom .bottomnav-section .nav-bottom-heading {
  color: white;
  margin: 0.5rem auto 0 auto;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: 0px 0px 10px red;
          box-shadow: 0px 0px 10px red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}
/*# sourceMappingURL=headbands.css.map */