* {
  background-color: black;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

#back {
  margin: 15px;
}

#heading {
  color: white;
  position: relative;
  display: -ms-grid;
  display: grid;
  text-align: center;
  font-size: larger;
  padding: 2px;
  width: 95%;
  border-radius: 30px 30px 0 0;
  background: -webkit-gradient(linear, left top, right top, from(green), color-stop(orange), color-stop(red), color-stop(blue), color-stop(green), color-stop(orange), color-stop(red), to(blue));
  background: linear-gradient(90deg, green, orange, red, blue, green, orange, red, blue);
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-animation: nav-load-animation 20s linear infinite;
          animation: nav-load-animation 20s linear infinite;
  background-size: 400%;
}

@-webkit-keyframes nav-load-animation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes nav-load-animation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#heading #ponpon-heading {
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  font-size: xx-large;
  padding: 5px;
  width: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 30px 30px 0 0;
}

#nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px auto;
  border: dotted 2px red;
  border-radius: 0 0 30px 30px;
  width: 95%;
  -webkit-animation: nav-load 900ms ease-out;
          animation: nav-load 900ms ease-out;
}

@-webkit-keyframes nav-load {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
    font-size: 0px;
  }
  100% {
    font-size: larger;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes nav-load {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
    font-size: 0px;
  }
  100% {
    font-size: larger;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#nav #nav1,
#nav #nav2,
#nav #nav3,
#nav #nav4 {
  color: white;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  margin: 10px auto;
  font-size: small;
  text-decoration: none;
  width: 100%;
  text-align: center;
  border-radius: 30px;
  -webkit-animation: nav-children 1100ms ease-out;
          animation: nav-children 1100ms ease-out;
}

@-webkit-keyframes nav-children {
  0% {
    -webkit-transform: translateX(-1200%);
            transform: translateX(-1200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes nav-children {
  0% {
    -webkit-transform: translateX(-1200%);
            transform: translateX(-1200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#nav #nav1:hover, #nav #nav2:hover, #nav #nav3:hover, #nav #nav4:hover {
  background: linear-gradient(45deg, black, #08f308, black);
  width: calc(100% + 10px);
  text-align: center;
}

.display-prices {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.display-prices .button-to-display-prices {
  color: orange;
  padding: 5px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 20px orangered;
          box-shadow: 0px 0px 20px orangered;
}

.paragraph-for-prices {
  color: white;
  position: absolute;
  margin: 10px auto;
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
  display: -ms-grid;
  display: grid;
  grid-column: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(45deg, rgba(0, 255, 213, 0.425), rgba(255, 255, 255, 0.1));
  -webkit-backdrop-filter: blur(5rem);
          backdrop-filter: blur(5rem);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  padding: 5px;
}

.paragraph-for-prices .price-for-all {
  color: #b3b3b3;
  background: rgba(0, 255, 255, 0.05);
  padding: 3px;
  text-align: center;
  -webkit-filter: contrast(200%);
          filter: contrast(200%);
  -webkit-backdrop-filter: blur(10rem);
          backdrop-filter: blur(10rem);
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3px auto;
  font-size: medium;
}

.paragraph-for-prices .price-for-all-extra-para {
  font-size: large;
  margin: 3px auto;
  color: #b3b3b3;
  background: rgba(0, 255, 255, 0.05);
  padding: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  -webkit-filter: contrast(200%);
          filter: contrast(200%);
  -webkit-backdrop-filter: blur(10rem);
          backdrop-filter: blur(10rem);
  border-radius: 30px;
}

.paragraph-for-prices.open1 {
  color: white;
  position: relative;
  margin: 10px auto;
  -webkit-animation: display-for-all1 1s ease-out 1 both;
          animation: display-for-all1 1s ease-out 1 both;
  display: -ms-grid;
  display: grid;
  grid-column: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 225, 255, 0.3)), to(rgba(0, 255, 255, 0.1)));
  background: linear-gradient(to right top, rgba(0, 225, 255, 0.3), rgba(0, 255, 255, 0.1));
  -webkit-backdrop-filter: blur(5rem);
          backdrop-filter: blur(5rem);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  padding: 5px;
}

@-webkit-keyframes display-for-all1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes display-for-all1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 100%;
  }
}

.paragraph-for-prices.open2 {
  color: white;
  position: relative;
  margin: 10px auto;
  -webkit-animation: display-for-all2 1s ease-out 1 both;
          animation: display-for-all2 1s ease-out 1 both;
}

@-webkit-keyframes display-for-all2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 100%;
    position: relative;
  }
  90% {
    position: relative;
  }
  100% {
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0%;
  }
}

@keyframes display-for-all2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 100%;
    position: relative;
  }
  90% {
    position: relative;
  }
  100% {
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0%;
  }
}

.main-div {
  border: 2px lime dotted;
  width: 95%;
  margin: 10px auto;
  height: 50%;
}

.main-div .h1-div1 {
  color: aqua;
  text-align: center;
  margin: 10px auto;
}

.main-div .parent-1-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.main-div .parent-1-2 .p-for-large-pons1 {
  -webkit-transform: translateX(-2000px);
          transform: translateX(-2000px);
  position: absolute;
  border: solid 2px red;
  border-radius: 20px;
  -o-border-image: linear-gradient(45deg, red, green, purple);
     border-image: linear-gradient(45deg, red, green, purple);
  border-image-slice: 1;
  margin: 0 5px;
}

.main-div .parent-1-2 .p-for-large-pons1 .added-large-2col-pons1 {
  margin: 5px auto;
}

.main-div .parent-1-2 .p-for-large-pons1 .added-large-2col-pons1 .added-large-2col-pons-images1 {
  height: 90%;
  width: 90%;
  border: solid 2px red;
  border-radius: 20px;
  -o-border-image: linear-gradient(45deg, aqua, black, aqua);
     border-image: linear-gradient(45deg, aqua, black, aqua);
  border-image-slice: 2;
}

.main-div .parent-1-2 .p-for-large-pons1.open1 {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-animation: open-more-large-pon-by-animation 500ms ease-out both;
          animation: open-more-large-pon-by-animation 500ms ease-out both;
}

@-webkit-keyframes open-more-large-pon-by-animation {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0%;
  }
  50% {
    opacity: 70%;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes open-more-large-pon-by-animation {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0%;
  }
  50% {
    opacity: 70%;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 100%;
  }
}

.main-div .parent-1-2 .p-for-large-pons1.open2 {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-animation: close-more-large-pon-by-animation 500ms ease-out both;
          animation: close-more-large-pon-by-animation 500ms ease-out both;
}

@-webkit-keyframes close-more-large-pon-by-animation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: relative;
    opacity: 100%;
  }
  50% {
    opacity: 30%;
  }
  90% {
    position: relative;
  }
  100% {
    opacity: 0%;
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes close-more-large-pon-by-animation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: relative;
    opacity: 100%;
  }
  50% {
    opacity: 30%;
  }
  90% {
    position: relative;
  }
  100% {
    opacity: 0%;
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.main-div .parent-1-2 .p-for-large-pons2 {
  -webkit-transform: translateX(-2000px);
          transform: translateX(-2000px);
  position: absolute;
  border: solid 2px red;
  border-radius: 20px;
  -o-border-image: linear-gradient(45deg, red, green, purple);
     border-image: linear-gradient(45deg, red, green, purple);
  border-image-slice: 1;
  margin: 0 5px;
}

.main-div .parent-1-2 .p-for-large-pons2 .added-large-2col-pons2 {
  margin: 5px auto;
}

.main-div .parent-1-2 .p-for-large-pons2 .added-large-2col-pons2 .added-large-2col-pons-images2 {
  height: 90%;
  width: 90%;
  border: solid 2px red;
  border-radius: 20px;
  -o-border-image: linear-gradient(45deg, aqua, black, aqua);
     border-image: linear-gradient(45deg, aqua, black, aqua);
  border-image-slice: 2;
}

.main-div .parent-1-2 .p-for-large-pons2.open1 {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-animation: open-more-large-pon-by-animation 500ms ease-out both;
          animation: open-more-large-pon-by-animation 500ms ease-out both;
}

@keyframes open-more-large-pon-by-animation {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0%;
  }
  50% {
    opacity: 70%;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 100%;
  }
}

.main-div .parent-1-2 .p-for-large-pons2.open2 {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-animation: close-more-large-pon-by-animation 500ms ease-out both;
          animation: close-more-large-pon-by-animation 500ms ease-out both;
}

@keyframes close-more-large-pon-by-animation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: relative;
    opacity: 100%;
  }
  50% {
    opacity: 30%;
  }
  90% {
    position: relative;
  }
  100% {
    opacity: 0%;
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.main-div .parent-1-2 .first-div, .main-div .parent-1-2 .second-div {
  text-align: center;
  border: solid 2px red;
  border-radius: 20px;
  -o-border-image: linear-gradient(45deg, red, green, purple);
     border-image: linear-gradient(45deg, red, green, purple);
  border-image-slice: 1;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  padding: 10px 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px 10px;
  -webkit-animation: nav-load-div1 1400ms ease-out;
          animation: nav-load-div1 1400ms ease-out;
}

.main-div .parent-1-2 .first-div #button-for-more-large-pon1, .main-div .parent-1-2 .second-div #button-for-more-large-pon1 {
  color: white;
  padding: 5px;
  margin: 5px auto;
  border-radius: 30px;
  background: linear-gradient(45deg, black, blue, black);
  animation: button-for-more-large-pon3 20s linear infinite alternate-reverse;
  background-size: 400%;
}

@-webkit-keyframes button-for-more-large-pon3 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes button-for-more-large-pon3 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.main-div .parent-1-2 .first-div #button-for-more-large-pon2, .main-div .parent-1-2 .second-div #button-for-more-large-pon2 {
  color: white;
  padding: 5px;
  margin: 5px auto;
  border-radius: 30px;
  background: linear-gradient(45deg, black, blue, black);
  animation: button-for-more-large-pon3 20s linear infinite alternate-reverse;
  background-size: 400%;
}

@keyframes button-for-more-large-pon3 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.main-div .parent-1-2 .first-div .ponpon-img1, .main-div .parent-1-2 .second-div .ponpon-img1 {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  margin: 0 auto;
}

.main-div .parent-1-2 .first-div .ponpon-img2, .main-div .parent-1-2 .second-div .ponpon-img2 {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  margin: 0 auto;
}

.main-div .parent-1-2 .first-div .ponpon-img3, .main-div .parent-1-2 .second-div .ponpon-img3 {
  width: 80%;
  height: 80%;
  border-radius: 20px;
  margin: 0 auto;
  -webkit-filter: brightness(100%) saturate(200%);
          filter: brightness(100%) saturate(200%);
}

.main-div .parent-1-2 .first-div .p, .main-div .parent-1-2 .second-div .p {
  color: white;
  text-align: center;
  font-size: 80%;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: 3px auto;
  background: linear-gradient(45deg, black, red, black);
}

.main-div .third-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  -webkit-animation: nav-load-div1 1400ms ease-out;
          animation: nav-load-div1 1400ms ease-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-div .third-div .div-3 {
  text-align: center;
  margin: 0 auto;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  padding: 10px 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: nav-load-div1 1400ms ease-out;
          animation: nav-load-div1 1400ms ease-out;
  border: solid 2px red;
  border-radius: 20px;
  -o-border-image: linear-gradient(45deg, red, green, purple);
     border-image: linear-gradient(45deg, red, green, purple);
  border-image-slice: 1;
}

.main-div .third-div .div-3 .ponpon-img3 {
  width: 80%;
  height: 80%;
  min-width: 20px;
  border-radius: 20px;
  -webkit-filter: brightness(100%) saturate(200%);
          filter: brightness(100%) saturate(200%);
}

.main-div .third-div .div-3 .p {
  color: white;
  text-align: center;
  font-size: 80%;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: 3px auto;
  background: linear-gradient(45deg, black, red, black);
}

.main-div .third-div .div-3 #button-for-more-large-pon3 {
  color: white;
  padding: 5px;
  margin: 5px auto;
  border-radius: 30px;
  background: linear-gradient(45deg, black, blue, black);
  animation: button-for-more-large-pon3 20s linear infinite alternate-reverse;
  background-size: 400%;
}

@keyframes button-for-more-large-pon3 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.main-div .third-div .p-for-large-pons3 {
  -webkit-transform: translateX(-2000px);
          transform: translateX(-2000px);
  position: absolute;
  border: solid 2px red;
  border-radius: 20px;
  -o-border-image: linear-gradient(45deg, red, green, purple);
     border-image: linear-gradient(45deg, red, green, purple);
  border-image-slice: 1;
  margin: 0 5px;
}

.main-div .third-div .p-for-large-pons3 .added-large-2col-pons3 {
  margin: 5px auto;
}

.main-div .third-div .p-for-large-pons3 .added-large-2col-pons3 .added-large-2col-pons-images3 {
  height: 90%;
  width: 90%;
  border: solid 2px red;
  border-radius: 20px;
  -o-border-image: linear-gradient(45deg, aqua, black, aqua);
     border-image: linear-gradient(45deg, aqua, black, aqua);
  border-image-slice: 2;
}

.main-div .third-div .p-for-large-pons3.open1 {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-animation: open-more-large-pon-by-animation 500ms ease-out both;
          animation: open-more-large-pon-by-animation 500ms ease-out both;
}

@keyframes open-more-large-pon-by-animation {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0%;
  }
  50% {
    opacity: 70%;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 100%;
  }
}

.main-div .third-div .p-for-large-pons3.open2 {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-animation: close-more-large-pon-by-animation 500ms ease-out both;
          animation: close-more-large-pon-by-animation 500ms ease-out both;
}

@keyframes close-more-large-pon-by-animation {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: relative;
    opacity: 100%;
  }
  50% {
    opacity: 30%;
  }
  90% {
    position: relative;
  }
  100% {
    opacity: 0%;
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

#main-div1 {
  -webkit-animation: nav-load-div1 1300ms ease-out;
          animation: nav-load-div1 1300ms ease-out;
}

#main-div2 {
  -webkit-animation: nav-load-div1 1700ms ease-out;
          animation: nav-load-div1 1700ms ease-out;
}

#main-div3 {
  border: lime dotted 2px;
  width: 95%;
  margin: 0 auto;
  -webkit-animation: nav-load-div1 2000ms ease-out;
          animation: nav-load-div1 2000ms ease-out;
}

#main-div3 .h1-div3 {
  color: aqua;
  display: block;
  width: 100%;
  text-align: center;
}

#main-div3 .main-div-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: nav-load-div1 2100ms ease-out;
          animation: nav-load-div1 2100ms ease-out;
}

#main-div3 .main-div-3 .div-1-1, #main-div3 .main-div-3 .div-2-2, #main-div3 .main-div-3 .div-3-3, #main-div3 .main-div-3 .div-4-4 {
  margin: 10px 15px;
  text-align: center;
  border: solid 2px red;
  border-radius: 60px 0 60px 0;
  -o-border-image: linear-gradient(45deg, red, green, purple);
     border-image: linear-gradient(45deg, red, green, purple);
  border-image-slice: 1;
  border-radius: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
}

#main-div3 .main-div-3 .div-1-1 .p3, #main-div3 .main-div-3 .div-2-2 .p3, #main-div3 .main-div-3 .div-3-3 .p3, #main-div3 .main-div-3 .div-4-4 .p3 {
  color: white;
  text-align: center;
  font-size: 80%;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: 3px auto;
  background: linear-gradient(45deg, black, red, black);
  border-radius: 30px;
  padding: 3px;
}

#main-div3 .main-div-3 .div-1-1 .ponpon-img1-3,
#main-div3 .main-div-3 .div-1-1 .ponpon-img2-3, #main-div3 .main-div-3 .div-2-2 .ponpon-img1-3,
#main-div3 .main-div-3 .div-2-2 .ponpon-img2-3, #main-div3 .main-div-3 .div-3-3 .ponpon-img1-3,
#main-div3 .main-div-3 .div-3-3 .ponpon-img2-3, #main-div3 .main-div-3 .div-4-4 .ponpon-img1-3,
#main-div3 .main-div-3 .div-4-4 .ponpon-img2-3 {
  width: 90%;
  border-radius: 20px;
  margin: 10px auto;
}

#main-div3 .main-div-3 .div-1-1 .ponpon-img3-3,
#main-div3 .main-div-3 .div-1-1 .ponpon-img4-3, #main-div3 .main-div-3 .div-2-2 .ponpon-img3-3,
#main-div3 .main-div-3 .div-2-2 .ponpon-img4-3, #main-div3 .main-div-3 .div-3-3 .ponpon-img3-3,
#main-div3 .main-div-3 .div-3-3 .ponpon-img4-3, #main-div3 .main-div-3 .div-4-4 .ponpon-img3-3,
#main-div3 .main-div-3 .div-4-4 .ponpon-img4-3 {
  width: 90%;
  border-radius: 20px;
  margin: 10px auto;
  height: 300px;
}

@-webkit-keyframes nav-load-div1 {
  0% {
    -webkit-transform: translateX(-1000%) translateY(-500%);
            transform: translateX(-1000%) translateY(-500%);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}

@keyframes nav-load-div1 {
  0% {
    -webkit-transform: translateX(-1000%) translateY(-500%);
            transform: translateX(-1000%) translateY(-500%);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}

#div-button-show-more-img {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
}

#div-button-show-more-img .button-show-more-img {
  color: white;
  -webkit-box-shadow: 0px 0px 20px lime;
          box-shadow: 0px 0px 20px lime;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  margin: 0 auto;
  border-radius: 30px;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg, orange, green, blue, red);
  background-size: 400%;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  animation: animation-button 20s linear infinite alternate-reverse;
  -webkit-animation: animation-button 20s linear infinite alternate-reverse;
  -moz-animation: animation-button 20s linear infinite alternate-reverse;
  -o-animation: animation-button 20s linear infinite alternate-reverse;
  -ms-animation: animation-button 20s linear infinite alternate-reverse;
}

@-webkit-keyframes animation-button {
  0% {
    background-position: -100% 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes animation-button {
  0% {
    background-position: -100% 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.more-images {
  border: dotted red 2px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-transform: translate(-100%, -100%) scaleY(-1);
          transform: translate(-100%, -100%) scaleY(-1);
  visibility: hidden;
  width: 95%;
  height: 0px;
}

.more-images #show-more-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 90%;
  border: 2px transparent;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px auto;
  -webkit-animation: nav-load-div-buttonimg1-5 1100ms ease-out forwards;
          animation: nav-load-div-buttonimg1-5 1100ms ease-out forwards;
}

@-webkit-keyframes nav-load-div-buttonimg1-5 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes nav-load-div-buttonimg1-5 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.more-images #show-more-images .group-images {
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  height: calc(-webkit-min-content - 30px);
  height: calc(-moz-min-content - 30px);
  height: calc(min-content - 30px);
  border: aqua 2px dotted;
  border-radius: 0 20px;
}

.more-images #prices3 {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 10px auto;
  height: fit-content;
  border: 2px transparent;
}

.more-images #prices3 .group-images {
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  height: calc(-webkit-min-content - 30px);
  height: calc(-moz-min-content - 30px);
  height: calc(min-content - 30px);
  border: aqua 2px dotted;
  border-radius: 0 20px;
}

.more-images.open {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  width: 95%;
  height: 80%;
  margin: 10px auto;
  visibility: visible;
}

.nav-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  border: solid 2px blue;
  margin: 0 auto;
  width: 95%;
}

.nav-bottom .bottomnav-section1 {
  color: white;
  text-align: start;
  margin: auto 0 auto 10%;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.nav-bottom .bottomnav-section1 .cropped-pic {
  border: red 2px dotted;
  border-radius: 100px;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.nav-bottom .bottomnav-section2 {
  color: white;
  text-align: center;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: red 2px dotted;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: fit-content;
  margin: 5px 5px 5px 0;
}

.nav-bottom .bottomnav-section2 .nav-bottom-heading {
  color: greenyellow;
  margin: 3px;
  font-size: 1rem;
  font-family: cursive;
}

.nav-bottom .bottomnav-section2 .p-bottom {
  color: aqua;
  font: 0.8em sans-serif;
}

.nav-bottom .bottomnav-section2 .p-bottom-insta, .nav-bottom .bottomnav-section2 .p-bottom-number {
  color: white;
  text-decoration: underline;
}
/*# sourceMappingURL=ponponetjes.css.map */